# Build artifacts
dist
build
node_modules
coverage
*.tsbuildinfo

# Prisma
prisma/generated
prisma/*.db

# Environment
.env
.env.local

# IDE/Editor
.idea
.vscode
*.sublime-workspace

# CI/Config
package-lock.json
nest-cli.json
tsconfig*.json
